# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment folders
venv/
.env/
.venv/

# Ignore zip files
*.zip

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore logs
*.log

# Ignore Python packaging files
build/
dist/
*.egg-info/

# Ignore pytest cache
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore only compiled python files inside migrations but not migrations themselves
**/migrations/__pycache__/
**/migrations/*.pyc
# ✅ Always include Django migration files (except __pycache__)
!**/migrations/*.py
!**/migrations/__init__.py


# Media files
media/
private_media/

